<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="21" android:versionName="4.0.0.1" android:installLocation="auto" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.AequitasSolutions.StudentPortal" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="30"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <application android:label="Q StudentConnection" android:icon="@drawable/scicon" android:name="androidx.multidex.MultiDexApplication" android:debuggable="false" android:allowBackup="true" android:extractNativeLibs="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:label="CustomUrlSchemeInterceptorActivity" android:name="crc6469d2efbd9eedbb4f.CustomUrlSchemeInterceptorActivity" android:launchMode="singleTop" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:path="/oauth2redirect"/>
                <data android:scheme="com.googleusercontent.apps.51784460448-2j9322b51dj1u43gtdgb9dlecp1hg0a5"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/splashscreen" android:label="Q StudentConnection" android:name="crc6469d2efbd9eedbb4f.MainActivity" android:exported="true" android:launchMode="singleTop" android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="crc6469d2efbd9eedbb4f.MyFirebaseIIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="crc6469d2efbd9eedbb4f.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="crc64396a3fe5f8138e3f.KeepAliveService"/>
        <activity android:label="Web Authenticator" android:name="crc64f98dd38067c0c88b.FormAuthenticatorActivity"/>
        <activity android:label="Web Authenticator" android:name="crc64f98dd38067c0c88b.WebAuthenticatorActivity"/>
        <activity android:theme="@android:style/Theme.DeviceDefault" android:label="@string/title_activity_webview" android:name="crc64f98dd38067c0c88b.WebViewActivity"/>
        <activity android:label="Web Authenticator Native Browser" android:name="crc64f98dd38067c0c88b.WebAuthenticatorNativeBrowserActivity" android:launchMode="singleTop"/>
        <receiver android:name="crc64f98dd38067c0c88b.CustomTabsActionsBroadcastReceiver"/>
        <receiver android:label="Essentials Battery Broadcast Receiver" android:name="crc64a0e0a82d0db9a07d.BatteryBroadcastReceiver" android:enabled="true" android:exported="false"/>
        <receiver android:label="Essentials Energy Saver Broadcast Receiver" android:name="crc64a0e0a82d0db9a07d.EnergySaverBroadcastReceiver" android:enabled="true" android:exported="false"/>
        <receiver android:label="Essentials Connectivity Broadcast Receiver" android:name="crc64a0e0a82d0db9a07d.ConnectivityBroadcastReceiver" android:enabled="true" android:exported="false"/>
        <provider android:name="xamarin.essentials.fileProvider" android:exported="false" android:authorities="com.AequitasSolutions.StudentPortal.fileProvider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/xamarin_essentials_fileprovider_file_paths"/>
        </provider>
        <receiver android:name="crc643f46942d9dd1fff9.PowerSaveModeBroadcastReceiver" android:enabled="true" android:exported="false"/>
        <provider android:name="mono.android.MultiDexLoader" android:exported="false" android:authorities="com.AequitasSolutions.StudentPortal.mono.android.MultiDexLoader.__mono_init__" android:initOrder="1999999999"/>
        <provider android:name="mono.MonoRuntimeProvider" android:exported="false" android:authorities="com.AequitasSolutions.StudentPortal.mono.MonoRuntimeProvider.__mono_init__" android:initOrder="1999999998"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="com.AequitasSolutions.StudentPortal.firebaseinitprovider" android:initOrder="100" android:directBootAware="true"/>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false" android:directBootAware="true">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamicloading.DynamicLoadingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="false" android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery" android:exported="false">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <receiver android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver" android:exported="false"/>
    </application>
</manifest>
